.th {
    width: 140px;
    height: 230px;
}
.thm {
    padding: 6px;
    float: left;
}
ul {
    padding-left: 240px;
    padding-right: 240px;
    flex-wrap:nowrap;
    list-style: none;
}
.category {
    color : yellow;
    padding-left: 240px;
    font-size: 2rem;
}