마이페이지 css
.mybody {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #232323;
    color: white;
}
.nav {
    text-decoration: none;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.nav .nav-link, .mypage {
    font-size: 1.2em;
    color: white;
    color: yellow;
}
.nav .mypage {
    font-size: 1.5em;
    font-weight: bold;
    color: yellow;
}
/* .nav .mypage:hover, .nav .nav-link:hover {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out font-size 0.15s ease-in-out;
    background-color: rgb(158, 158, 158);
    color: white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    transition-property: color, background-color, border-color;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: .2s, .2s, 0s;
} */
.container {
    border: 1px solid white;
    float: left;
    margin: 50px 0px;
    left: 180px;
    width: 100vw;
    height: 150vh;
    padding: 0;
    position: relative;
    /* border: 1px solid #232323; */
}

.info {
    margin-top:2rem;
    margin-left: 1rem;
    font-weight: 200;
}
.container > h2 {
    margin-top: 30px;
    text-align: center;
}
.box {
    width: 320px;
    height: 320px;
    float: right;
    margin: 55px 0;
    margin-right: 10px;
    margin-left: 20px;
    right: 135px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .profil {
    text-decoration: none;
    display: inline;
    background-color: rgba(35, 35, 35, 1);
    color: white;
    font-size: 20px;
    margin-left: 35px;
}
/* .container .profil:hover {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out font-size 0.15s ease-in-out;
    background-color: #232323;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    transition-property: color, background-color, border-color;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: .2s, .2s, 0s;
} */

.img-poster {
    width: 320px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* 1:1 문의하기 페이지 css */
.inquire-head {
    margin-top: 2em;
    text-align: center;
}