/* 네이바 */

img{
  position: relative !important ;
  width: 100px;
  height: 50px;
  
}
.navbar{
  background-color: black;
  padding: 0 !important;
  color: white;
  justify-content:left !important;
}
.container-fluid{
  display: inline !important;
}

.container {
  justify-content: left !important;
  margin: 0;
}
/* Home */
a{
  text-decoration: none !important;
  color: white !important;
  margin-left: 20px;
}


/*드롭다운*/



@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
position : relative;
display : inline-block;
margin-left: 40px;
margin-top: 20px;
}

.dropbtn{
/* border : 1px solid rgb(37, 37, 37);
border-radius : 4px; */
background-color: black;
font-weight: 400;
color : rgb(37, 37, 37);
padding : 0px;
width :80px;
text-align: left;
cursor : pointer;
font-size : 15px;
color: white;
}
.dropdown-content{
display : none;
position : absolute;
z-index : 1; /*다른 요소들보다 앞에 배치*/
font-weight: 400;
background-color: black;
min-width : 200px;
}
/* 카테고리 1,2,3 */
.dropdown-content a{
display : block;
text-decoration : none;
color : rgb(37, 37, 37);
font-size: 12px;
width: 200px;
padding : 12px 0px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* 
.dropdown-content a:hover{
background-color : #ececec
} */




/* 검색창 검색창 절대 고정 위치 */
.d-flex{
  margin-top: -18px;
}
.d-flex :hover{
  color: black !important;
  border-color: yellow !important;
  background-color: yellow;
}
.d-flex :focus{
  color: black !important;
  border-color: yellow !important;
  background-color: yellow !important;
}
.d-flex input{
  position: fixed;
  width: 400px;
}

.d-flex button{
  position: fixed;
  display: inline-block;
  margin-left: 405px;
  color: yellow;
  border-color: yellow;
}