.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex {
  padding-left: 20px;
  width: 400px;
  margin-right: 350px;
}
#navbarDropdown {
  padding-left: 20px;
}
#search {
  background-color: #f8de8d;
  color: #901010;
  border-color: #901010;
}
.container-fluid {
  background-color: #f8de8d;
}
.dropdown-menu {
  background-color: rgb(218, 28, 38);
}